<section id="contact">
    <h1>Contact</h1>
    <p>
        I am always happy to hear from motivated students and early-career researchers. Whether you have a specific question related to my current research interests or would simply like to discuss possible directions, please feel free to reach out.
    </p>
    <div class="row">
        <div class="five columns">
            <p>
                <strong>Email:</strong><br>
                <a href="mailto:{{ site.author.work_email }}">
                  {{ site.author.work_email }}
                </a>
                <br>
                <a href="mailto:{{ site.author.email }}">
                  {{ site.author.email }}
                </a>
            </p>
        </div>
        <div class="five columns">
            <p>
                <strong>Office Address:</strong><br>
                Symmetric Cryptography MC 1.40<br/>
                Faculty of Computer Science<br/>
                Ruhr-University of Bochum<br/>
                Universitätsstr. 150<br/>
                44801 Bochum, Germany<br/>
            </p>
        </div>
    </div>
</section>