<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="{{ site.google }}">
    
    <!-- Icon -->
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
          
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Artifika&family=Inter:wght@400;500;600;700&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600;8..60,700&display=swap" rel="stylesheet">
  
    <!-- Font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="{{ site.cssurl | relative_url }}/main.css">
    
    <!-- Title -->
    <title>Ashwin Jha | {% if page.title %}{{ page.title }}{% else %}Cryptographer{% endif %}</title>
  </head>
  <body>
      <main class="container">

          <!-- Navigation -->
          {% include navigation.html %}

          <!-- Main content -->
          {{ content }}
      </main>
      
      <!-- Scripts -->
      <script src="{{ site.jsurl | relative_url }}/site.js" defer></script>
  </body>
</html>